.root{
    -fx-body-color : #F5F5F5;
    -fx-outer-border : #cecece;
    -fx-background-color:  #ffffff;

}
.button{
    -fx-effect:dropshadow(one-pass-box,black,8,0.0,2,0);   
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-text-alignment:center;
    -fx-font-size: 14;
    -fx-text-fill: -fx-text-base-color;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-pref-height: 20;
    -fx-min-width:100;
    -fx-background-color:#cccccc;
    
}
.label{
    -fx-font-size:18pt;
    -fx-font:bold 10pt "Arial";
    -fx-padding:10;
}
.textfield{
    -fx-pref-tile-width: 100;
}
.datepicker > .arrow-button{
    -fx-border-color: #dddddd #dddddd #b3b3b3 #dddddd ;
    -fx-text-fill: #333333;
}
.date-picker > .arrow-button {
	-fx-border-radius: 0 4 4 0;
}
.menu-button {
    -fx-skin: "com.sun.javafx.scene.control.skin.MenuButtonSkin";
    -fx-background-color: #e5e5e5;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 0;
    -fx-padding: 0.0em; /* 0*/
    -fx-text-fill: -fx-text-base-color;
}

.menu-button .label { -fx-text-fill: -fx-text-base-color; }

.button:focused,.menu-button:focused {
    -fx-color: beige;
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: -1.4, 0, 1, 2;
    -fx-background-radius: 0;
}

.button:hover,.menu-button:hover {
    -fx-color: darkgreen;
}

.button:armed,.menu-button:armed {
    -fx-color: greenyellow;
}

.HBox{
    
    -fx-border-style: solid inside;
    -fx-border-width: 1;
    -fx-border-insets: 5;
    -fx-border-radius: 5;
    -fx-background-color:#ff0000;
    -fx-background-radius: 5;
    -fx-background-insets: 5;
}

.header{
    -fx-fill:#ffffff;
    -fx-font:bold 50pt "Times New Roman" ;
    -fx-stroke:black;
    -fx-stroke-width:1;
    
}
.background{
    -fx-background-color: #e5e5e5;
    -fx-border-radius:5;
    -fx-border-width: 1;
    -fx-border-insets: 5;
    -fx-background-radius: 5;
    -fx-background-insets: 5;
    
}
.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-cell-size : 20;
    -fx-background-color:#ff0000;
    -fx-border-color:white;
}
.table-view .column-header .label{

   -fx-text-fill: white;
   -fx-font-weight: bold;
   -fx-alignment: CENTER_LEFT;
}
.table-view .cell{
   -fx-cell-size: 30;
  -fx-alignment: center-left;
  -fx-text-fill: #000000;
  -fx-alignment: CENTER_LEFT;
}

.table-row-cell:selected {
    -fx-background-color: #ff7e7e;
 }
.table-row-cell:selected .text {
        -fx-fill : white ;
}

.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 2em;

}

.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
	-fx-background-color: transparent;
	-fx-border-color:derive(  #2D75E8,80%);
	-fx-background-radius: 2em;
	-fx-border-radius:2em;
}

.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive( #2D75E8,90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;

}
.combobox{
    -fx-boreder-color:black;    
}